<script setup>
/*
Este componente es de prueba para evaluar como funciona d3 con vue, es
/necesario usar referencia a template (ref) y activar la gráfica
/dentro de onMounted
*/
 import * as d3 from "d3"
 import { ref, computed, onMounted} from 'vue';

 const props = defineProps({
   "radio":{required:false, default:100},
 })

 const svgRef = ref(null);


onMounted(() => {
   const svg = d3.select(svgRef.value);
   svg.attr("width","500px");
   svg.attr("height","500px");
   const circle = svg.select(".shape").append("circle").style("stroke","gray").style("fill","red").attr("r",props.radio).attr("cx",250).attr("cy",250)
 })

</script>
<template>
  <h3 class="title is-3">Círculo de radio {{radio}}</h3>  
  <div id="circle">
	<svg ref="svgRef">
	  <g class="shape" />
	</svg>
  </div>
</template>
<style type="text/css">
 #circle {
   width:500px;
   height:500px;
}
</style>
