<script setup>
import CuentaVotos from "./components/CuentaVotos.vue"
const api_url = import.meta.env.VITE_CUENTAVOTOS_URL ?? 'http://127.0.0.1:8000/'
</script>

<template>
  <CuentaVotos :url="api_url"/>
</template>

<style>
</style>
