<script setup>
 import { ref, onMounted, computed, defineAsyncComponent } from 'vue';
 import ErrorComponent from './ErrorComponent.vue'
 import LoadingComponent from './LoadingComponent.vue'
 import Buefy from 'buefy'
 import 'buefy/dist/buefy.css'
 import Norma from '../interfaces/Norma.js';
 import { useWindowSize } from 'vue-window-size';

 const chart_height = 300;
 const logo_url = "cc _monitor.png"
 const show = ref(false)

 function sizes() {
   let contentWidth = [...document.body.children].reduce( 
     (a, el) => Math.max(a, el.getBoundingClientRect().right), 0) 
					- document.body.getBoundingClientRect().x;

   return {
     windowWidth:  document.documentElement.clientWidth,
     windowHeight: document.documentElement.clientHeight,
     pageWidth:    Math.min(document.body.scrollWidth, contentWidth),
     pageHeight:   document.body.scrollHeight,
     screenWidth:  window.screen.width,
     screenHeight: window.screen.height,
     pageX:        document.body.getBoundingClientRect().x,
     pageY:        document.body.getBoundingClientRect().y,
     screenX:     -window.screenX,
     screenY:     -window.screenY - (window.outerHeight-window.innerHeight),
   }
 }

 let window_size = computed(()=>sizes())

 const chart_width = computed(() => {
   /* console.log("Wdith size", width.value, height.value);
	* let value = .95 * width.value * 2 / 3
	* console.log("Valuw width", value)
	* return value */
   return window_size.value.pageWidth * (2/3) * .9
 })

 // TEST

 const props = defineProps({
   "url":{required:true},
   "api":{required:false, default:{normas:"normas", votos:"votos"}},
   "pages":{
	 required:false,
	 default:{
	   main:"https://votos.eradelainformacion.cl",
	   propuestas:"https://www.eradelainformacion.cl"
	 }
   }
 })


 const asyncPromo = defineAsyncComponent({
   loader: () => import('./Promo.vue'),
   delay: 200,
   timeout: 3000,
   errorComponent: ErrorComponent,
   loadingComponent: LoadingComponent
 })

 const asyncNavBar = defineAsyncComponent({
   loader: () => import('./NavBar.vue'),
   delay: 200,
   timeout: 3000,
   errorComponent: ErrorComponent,
   loadingComponent: LoadingComponent
 })


 const asyncHtmlPage = defineAsyncComponent({
   loader: () => import('./HtmlPage.vue'),
   delay: 200,
   timeout: 3000,
   errorComponent: ErrorComponent,
   loadingComponent: LoadingComponent
 })

 // This starter template is using Vue 3 <script setup> SFCs
 // Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
 const asyncNormas = defineAsyncComponent({
   loader: () => import('./Normas.vue'),
   delay: 200,
   timeout: 3000,
   errorComponent: ErrorComponent,
   loadingComponent: LoadingComponent
 })

 const asyncFiltro = defineAsyncComponent({
   loader: () => import('./Filtro.vue'),
   delay: 20,
   timeout: 3000,
   errorComponent: ErrorComponent,
   loadingComponent: LoadingComponent
 })

 const asyncGrafico = defineAsyncComponent({
   loader: () => import('./Grafico.vue'),
   delay: 20,
   timeout: 3000,
   errorComponent: ErrorComponent,
   loadingComponent: LoadingComponent
 })

 let app_name="Normas Populares para la Constitución";
 let filter = ref({})

 function filterNorma(query){
   filter.value = query
 }

 function selectNorma(norma){
   norma_actual.value = norma
   show.value = true
 }

 function clickPage(page){
   page_name.value = page
   show.value = false
 }


 let norma = new Norma({id:0,titulo:"Nada"});
 let norma_actual = ref(norma);

 let page_name = ref("org/Inicial.html")

 const acceso = {
   titulo:"Acceso al Conocimiento",
   imagen:"normas/acceso.png",
   numero:46114,
   doc:"https://www.eradelainformacion.cl/docs/acceso.pdf",
 }

 const privacidad = {
   titulo:"Derecho a la Privacidad en Internet",
   imagen:"normas/privacidad.png",
   numero:43014,
   doc:"https://www.eradelainformacion.cl/docs/privacidad.pdf",
 }


</script>

<template>
  <asyncNavBar
			   @clickPage="clickPage"/>
	<h1 id="main_title" class="title is-4"><img id="logo-monitor"
	:src="logo_url" :alt="app_name"></h1>
	<div>
	  <asyncFiltro
		@filterNorma="filterNorma"
		:main="props.pages.main"
		:propuestas="props.pages.propuestas"
		class="container" />
	</div>
	<div class="columns">
	  <asyncNormas
		:filter="filter"
		:url="props.url"
		:api="props.api.normas"
		@selectNorma="selectNorma"
		class="column is-4"/>
	  <div class="column" id="content-section">
		<div id="grafica-content" v-if="show">
		  <asyncGrafico
			:url="props.url"
			:api="props.api.votos"
			:norma="norma_actual"
			:width="chart_width"
			:height="chart_height"
		  />
		</div>
		<div id="page-content" v-else>
		  <asyncHtmlPage  :file="page_name"/>
		</div>
		<div id="promos">
		  <div class="title is-4">¡Apoya nuestras propuestas de Norma!</div>
		  <div class="columns">
			<asyncPromo 
			  :titulo="acceso.titulo"
			  :imagen="acceso.imagen"
			  :numero="acceso.numero"
			  :doc="acceso.doc"
			  class="column is-4"/>
			<asyncPromo class="column is-4"/>
			<asyncPromo 
			  :titulo="privacidad.titulo"
			  :imagen="privacidad.imagen"
			  :numero="privacidad.numero"
			  :doc="privacidad.doc"
			  class="column is-4"/>
		  </div>
		</div>

	  </div>
	</div>

</template>

<style>
 #app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
 }
 #main_title{
   margin-top: 30px;
 }

#logo-monitor{
  width:400px;
}
#promos {
  margin-rop: 2rem;
}

#content-section {
  width:80%;
}
</style>
