<template>
  <section>
    <div class="input-search">
      <input 
        id="text" 
        v-model="search"
		@keyup.enter="enterSearchText(search)"
      >
      <div id="message">
        Filtrando <b id="result-message" :placeholder="search"></b>
      </div>
      </div>
      <button 
        type="button" 
        class="search" 
        v-on:click="searchText(search)">🔍 Buscar</button>
  </section>
</template>

<script setup>
import { defineComponent, ref } from 'vue';
const emit = defineEmits(["filterNorma"])

 let mode = ref("buscar"); 
 let search = ref("Buscar")
 function enterSearchText(search){
   searchText(search)
 }

 function  searchText(texto){
   let search = texto.toLowerCase();
	 const comps = {
	   ">": "gt",
	   ">=": "ge",
	   "<": "lt",
	   "<=": "le",
	   "=": "eq",
	   "==": "eq",
	 }

   const expresion = /^([><=]=?|) /
   
   let item = search;
   if (search.startsWith("@")) {
	 const words = search.split(" ")
	 const field = words[0].replace("@","")
	 words.shift()
	 if (field !== "votos"){
	   let w = words.join(" ")
	   emit("filterNorma", {field, word:w});
	 } else {
	   let command = words.join(" ")
	   if (command.match(expresion)) {
		  // numeric value to compare
		  const words = command.split(" ")
		  const comp = words[0]
		  const eq = comps[comp]
		  words.shift()
		  let n = words.join("")
		  let query = {field, comp, eq, word:n}
		emit("filterNorma", query);	 
	  }
	 }	 
   } else if (search.match(expresion)) {
	 // numeric value to compare
	 const words = search.split(" ")
	 const comp = words[0]
	 const eq = comps[comp]
	 words.shift()
	 let n = words.join("")
	 let query = {comp, eq, word:n}
	 emit("filterNorma", query);	 
   }else {
	 emit("filterNorma", {word:search});
   }
 }
</script>
<style>
 
 body {
   font-family: Open Sans,sans-serif,Verdana;
   font-size: 12.5px;
 }

 #text{
   transition: all 0.3s ease;
   margin-left: 20px;
   color: black;
   border: 1px dotted #666;
   -webkit-appearance: none;
   font-size: 15.5px;
   color: #666;
 }

 #text:valid,
 #text:focus {
   margin-top: 25px;
   border: 0;
   border-bottom: 2px solid #22A2D0;
   outline: none;
   text-align: left;
   font-family: Open Sans,sans-serif,Verdana;
   letter-spacing: 0.5px;
 }

 
 .input-search{
   margin-top: 10px;
   margin-left: 19.5%; /*margen izquierdo del div input*/
   display: inline-flex;
   flex-direction: column;
 }

 #checkbox_content {
   width: 20px;
   height: 20px;
   cursor: pointer;
   position: relative;
   top: 3px;
   left: 5px;
   margin-left: 15px;
   cursor: pointer;
 }

 label {
   color: #666;
   font-size: 14px;
 }

 #message{
   padding: 0.1px;
   margin-left: 20px;
   font-size: 14px;

 }

 #result-message{
   color:#2B6E8E;
   font-weight: bold;
 }

 .search {
   padding:7px;
   border-radius: 5px;
   margin-top:0.7em;
   font-weight: bold;
   font-family: Open Sans,sans-serif,Verdana;
   font-size: 14px; 
 }

 .search, button{
   font-weight: bold;
   font-family: Open Sans,sans-serif,Verdana;
   font-size: 14px; 
   cursor:pointer;
   color: #838796;
   /* font-weight: lighter;*/
   box-shadow: 0 2px 2px rgba(0,0,0,.2) inset, 0 0 0 rgba(0,0,0,0);
   margin: 0 10px;
   border: none;
 }

 .line{
   text-align: left;
   font-size: 14px;
   line-height: 1.4;
   margin: 0 20px 20px;
   bottom: 20px;
   color: #666;
   font-weight: normal;
   padding: 12px 0;
   border-bottom: 4px solid #ddd;
   font-family: Open Sans,sans-serif,Verdana;
   font-weight: normal;
   font-size: 15px;
   text-transform: uppercase;
 }

</style>

