<template>
  <div class="container" id="chart_container">
	<div class="title is-5"><a :href="norma_url">{{norma.id}} |
	  {{norma.titulo}} <span style="color: Mediumslateblue;"><i class="fas fa-arrow-alt-circle-left"></i></span></a></div>

<div id="chart" ref="evolucionChart">	
</div>
<div id="delta-chart" ref="deltaChart">	</div>
<div id="tasa-chart" ref="tasaChart">	</div>
<ul>
  <li v-for="item in votos"> {{item.cantidad}}</li>
</ul>
  </div>
</template>


<script setup>

import * as d3 from "d3"
import { ref, computed, defineAsyncComponent, onMounted } from 'vue';
import axios from 'axios'; 
import ChartEvolucionVotos from './charts/serie_time_evolucion.js'
import ChartDeltaVotos from './charts/serie_time_delta.js'
import ChartTasaVotos from './charts/serie_time_tasa.js'
import Voto from "../interfaces/Voto";
import Norma from "../interfaces/Norma";
import { useWindowSize } from 'vue-window-size';

// import Circle from './charts/Circle.vue';
import _ from 'lodash';

let radio = 100;


let  evolucionChart = ref(null);
let  deltaChart = ref(null);
let  tasaChart = ref(null);

 let base = "https://plataforma.chileconvencion.cl/m/iniciativa_popular/detalle?id="

let norma_url  = computed(() => base + props.norma.id)

 const props = defineProps({
 "url":{required:true},
			"api":{required:false, default:"votos"},
	 "norma": {required:true},
	 "width":{required:true},
	 "height":{required:true},
 })

console.log("Widt", props.width, "he", props.height)

const mostrar = computed(() => {
   return props.norma.titulo !== "Nada"})

 const url= computed(()=>{
   const new_url = `${props.url}${props.api}/${props.norma.id}`
   return new_url
 });


 async function getVotos(url){  
   const response = await axios.get(url, {"Access-Control-Allow-Origin": "*"});
   if (response.status === 200) {
	 if (response.data.votos) {
	   let q_votos = response.data.votos.map(item=>{
		 const voto = new Voto(item);
		 return voto;
	   });
	   let dataset = {
		 norma:response.data.norma,
		 start_date:new Date(response.data.start),
		 end_date:new Date(response.data.end), 
		 votos:q_votos}
	   /* console.log("PRE Results", dataset, dataset["norma"],
		  dataset["votos"]) */
	   return dataset
	 } else {
	   return {}
	 }
   }  
 }


 let pre_votos = computed(async () => {
   let data = await getVotos(url.value);
   if (chart &&  !_.isEmpty(data)){
	 let chart =  chart_evolucion.value;
	 chart.initChart([data])
	 chart.updateChart([data],{})
	 let delta = chart_delta.value;
	 delta.initChart([data])
	 delta.updateChart([data],{})
	 let tasa = chart_tasa.value;
	 tasa.initChart([data])
	 tasa.updateChart([data],{})

   } else {
	 console.log("No data, no update chart")
   }
   return data
 })


 let votos = computed(async ()=>{
   return pre_votos.value
 })

 let chart_evolucion = ref(null)
 let chart_delta = ref(null)
 let chart_tasa = ref(null)

 let options = ref({})
 let options_delta = ref({})
 let options_tasa = ref({})

 let chart = computed(()=>{
   let chart =  chart_evolucion.value;
   //chart.initChart([data],{})
 })

 let format_date = {
   "dateTime": "%A, %e de %B de %Y, %X",
   "date": "%d/%m/%Y",
   "time": "%H:%M:%S",
   "periods": ["AM", "PM"],
   "days": ["domingo", "lunes", "martes", "miércoles", "jueves", "viernes", "sábado"],
   "shortDays": ["dom", "lun", "mar", "mié", "jue", "vie", "sáb"],
   "months": ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"],
   "shortMonths": ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
 };

 onMounted(()=> {
   const opts = {
	 width: props.width,
	 height: props.height,
	 format_date:format_date,
	 css_class: "evolucion-chart",
	 legends: {y:"cantidad de votos",x:"tiempo"},
	 margin: {top:30,bottom:30,left:50,right:50},
	 colors: [],
	 legend: 'Evolución de Votación para Norma',
	 show_legend:true,
	 parent_selector: evolucionChart.value,
	 parent_component:undefined,
   }

   options.value = opts;
   chart_evolucion.value = new ChartEvolucionVotos(opts);
   const opts_delta = {
	 width: props.width,
	 height: props.height,
	 format_date: format_date,
	 css_class: "delta-chart",
	 legends: {y:"cantidad de votos entre medición",x:"tiempo"},
	 margin: {top:30,bottom:30,left:50,right:50},
	 colors: [],
	 legend: 'Diferencias de Votación para Norma',
	 show_legend:true,
	 parent_selector: deltaChart.value,
	 parent_component:undefined,
   }
   chart_delta.value = new ChartDeltaVotos(opts_delta);


 const opts_tasa = {
   width: props.width,
   height: props.height,
   format_date: format_date,
   css_class: "tasa-chart",
   legends: {y:"tasa de [votos/minuto]",x:"tiempo"},
   margin: {top:30,bottom:30,left:50,right:50},
   colors: [],
   legend: 'Tasa de Votación para Norma',
   show_legend:true,
   parent_selector: tasaChart.value,
   parent_component:undefined,
 }
   chart_tasa.value = new ChartTasaVotos(opts_tasa);
 })


</script>

<style type="text/css">
 #chart_container{
   margin:30px;
}
</style>
