<template>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
	<h3 class="title is-3">Gráfica de Norma {{props.norma.id}}-{{props.norma.titulo}}</h3>
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"  v-on:click="closeModal(props.norma.id)"></button>
</div>
</template>

<script setup>
import Norma from '../interfaces/Norma.js';
import { computed } from 'vue';

 const props = defineProps({
   "norma": {type:Norma, required:true},
 })


</script>
