<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="logo navbar-item nav-item" href="/">
      <img src="../assets/logo.svg" width="180" height="45">
     </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="item" :href="main">
        Home
      </a>
      <a class="item" :href="propuestas"> <!---->
        Nuestras Propuestas
      </a>
      <a 
		class="item"
		v-on:click="clickPageName(urlBuscar)">
        Guía de Uso
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="item">
          Más +
      </a>
        <div class="navbar-dropdown">
          <a class="navbar-item item-list"  v-on:click="clickPageName(urlHerramienta)">
            Esta herramienta
          </a>
          <a class="navbar-item item-list" v-on:click="clickPageName(urlComputador)">
            Usar en tu computadora
          </a>
          <a class="navbar-item item-list" v-on:click="clickPageName(urlWeb)">
            Usar en web
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item item-list" v-on:click="clickPageName(urlContacto)">
            Contacto
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
    </div>
  </div>
  </nav>
</template>
<script setup>
 import { ref, computed, defineAsyncComponent } from 'vue';
 const props = defineProps({
   "main":{
	 required:false,
	 default:"/", 
   },
   "propuestas":{
	 default:"https://www.eradelainformacion.cl",
	 required:false
   },
   "base_url":{
	 default: window.location.origin,
	 required:false
   },
 })

 let urlBuscar = computed(()=>  props.base_url + '/org/Buscar.html')
 let urlWeb = computed(()=>  props.base_url + '/org/Web.html')
 let urlComputador = computed(()=>  props.base_url + '/org/Computadora.html')
 let urlHerramienta = computed(()=>  props.base_url + '/org/EstaHerramienta.html')
 let urlContacto = computed(()=>  props.base_url + '/org/Contacto.html')

 let isOpen = ref(false)

 const emit = defineEmits(["clickPage"])


function clickPageName(page){
   console.log("Click on", page)
   emit("clickPage",page)
}
</script>
<style scoped>
  .navbar {
    margin-top: 0.5em;
    display: flex;
  }

  .navbar-item {

  }

/*  .logo:hover {
    border-bottom: solid #9ACEF8;
    
  }*/

  .navbar-brand {
  }

 .btn-item {
 }

 .item {
  
 }

 a {
  color: #282828;
  padding: 1.5em;
  font-size: 1.5em;
 }

button {

}

 .item:hover {
    color: #2196F3;
    border-bottom: solid #9ACEF8;
}



</style>
