<template>
  <div id="normas">
  <table v-bind:class="css.table">
	<thead>
	  <th>Id Norma</th>
	  <th>Nombre</th>
	  <th>Votos</th>
	  <th>Gráficos</th>
	</thead>
	<tbody>
	  <tr v-for="item in normas">
		<td>{{item.id}}</td>
		<td>{{item.titulo}}</td>
		<td>{{item.ultimo_voto.cantidad}}</td>
		<td>
		  <button class="button" v-on:click="graficar(item)">
			ver
		  </button>
		</td>		   	
	  </tr>
	</tbody>
  </table>
  </div>
</template>
<script setup>
 import Norma from '../interfaces/Norma.js';
 import Modal from './Modal.vue';
 import { ref, computed, defineAsyncComponent } from 'vue';
 import axios, { AxiosResponse } from 'axios'; 
 import _ from 'lodash';
 /* const props = defineProps({
  *    "url": {type:String, required:false, default="http://127.0.0.1:8000"},
  *    "api": {type:String, required:false, default:"votos"},
  *    "norma_id": {type:Number, required:true}
  *  }) */

 const props = defineProps({
   "url":{required:true},
   "api":{required:false, default:"normas"},
   "filter": {required:false, default:{}}
 })
 const emit = defineEmits(["selectNorma"])

 let url= computed(()=>`${props.url}${props.api}`);
 let pre_normas = ref([])
 let normas = computed(() => {
   console.log(props.filter, _.isEmpty(props.filter))

   if (_.isEmpty(props.filter)===false){	 
	 console.log("Buscando post", props.filter.word, props.filter.field)
	 if (props.filter.field !== "votos" && props.filter.field) {
	   return pre_normas.value.filter(norma => {
		 if (props.filter.field === "titulo"){ 
		   return norma.titulo.toLowerCase().includes(props.filter.word)
		 } else if (props.filter.field === "id") {
		   return norma.id === parseInt(props.filter.word)
		 }	   
	   })	   	   
	 } else if (props.filter.eq && props.filter.field !== "votos") {
	   console.log("Buscar por comparacion de id", props.filter)
	   switch (props.filter.comp){
		 case ">":
		   return pre_normas.value.filter(norma => {
			 return norma.id > parseInt(props.filter.word)	   
		   })

		   break;
		 case ">=":
		   return pre_normas.value.filter(norma => {
			 return norma.id >= parseInt(props.filter.word)	   
		   })

		   break;
		 case "<":
		   return pre_normas.value.filter(norma => {
			 return norma.id < parseInt(props.filter.word)	   
		   })

		   break;
		 case "<=":
		   return pre_normas.value.filter(norma => {
			 return norma.id <= parseInt(props.filter.word)	   
		   })

		   break;
		 case "=":
		   return pre_normas.value.filter(norma => {
			 return norma.id == parseInt(props.filter.word)	   
		   })

		   break;
		 case "==":
		   return pre_normas.value.filter(norma => {
			 return norma.id == parseInt(props.filter.word)	   
		   })
		   break;
		 default:
		   return pre_normas.value.filter(norma => {
			 return norma.id == parseInt(props.filter.word)	   
		   })
		   break;
	   }

	 } else if (props.filter.eq && props.filter.field==="votos") {
	   console.log("Buscar por comparacion de votos", props.filter)

	   switch (props.filter.comp){
		 case ">":
		   return pre_normas.value.filter(norma => {
			 return norma.ultimo_voto.cantidad > parseInt(props.filter.word)	   
		   })

		   break;
		 case ">=":
		   return pre_normas.value.filter(norma => {
			 return norma.ultimo_voto.cantidad >= parseInt(props.filter.word)	   
		   })

		   break;
		 case "<":
		   return pre_normas.value.filter(norma => {
			 return norma.ultimo_voto.cantidad < parseInt(props.filter.word)	   
		   })

		   break;
		 case "<=":
		   return pre_normas.value.filter(norma => {
			 return norma.ultimo_voto.cantidad <= parseInt(props.filter.word)	   
		   })

		   break;
		 case "=":
		   return pre_normas.value.filter(norma => {
			 return norma.ultimo_voto.cantidad == parseInt(props.filter.word)	   
		   })

		   break;
		 case "==":
		   return pre_normas.value.filter(norma => {
			 return norma.ultimo_voto.cantidad == parseInt(props.filter.word)	   
		   })
		   break;
		 default:
		   return pre_normas.value.filter(norma => {
			 return norma.ultimo_voto.cantidad == parseInt(props.filter.word)	   
		   })
		   break;
	   }
	 } else {	 
	   console.log("Buscando solo por titulo", props.filter)
	   return pre_normas.value.filter(norma => {
		 return norma.titulo.toLowerCase().includes(props.filter.word)	   
	   })
	 }   	 
   }else{
	 console.log("Filtro vacio")
	 return pre_normas.value   
   }
 })

 const css = {
   table:"table centered is-striped is-narrow is-hoverable is-fullwidth is-scrollable is-fullheight"
 }

 function getNormas(url){  
   axios.get(url, {"Access-Control-Allow-Origin": "*"})
		.then( (response) => {
		  if (response.status === 200) {
 			pre_normas.value = response.data.map(item=>{
			  const norma=new Norma(item);
			  return norma;
			});
		  } 
		}).catch(()=>{console.log("Error on get normas")});
 }
 


 function graficar(item){
   emit("selectNorma", item)
 }

 getNormas(url.value);

 const css_id = computed(()=>props.norma.id+"_modal")
</script> 



<style scoped>
 a {
   color: #42b983;
 }

 table {
   overflow-y: auto;
   overflow-x: hidden;
   display: block;
   max-height: 1468px;
 }

 .table.is-narrow td,
 .table.is-narrow th {
    padding: .25em 2px;
 }
</style>
