<template>
  <div class="promo-norma">
	<div class="card">
	  <header class="card-header">
	  <p class="card-header-title">
		{{titulo}}
	  </p>
	  </header>
	  <div class="card-content">
		<a :href="norma_url"><img :src="imagen"></a>
	  </div>
	  <footer>
		<a :href="doc" class="card-footer-item">
		  <span class="icon">
			<i class="fas fa-file-pdf"></i>
		  </span>
		  PDF
		</a>
	  </footer>
	</div>
  </div>
</template>
<script setup>
 import { ref, computed, defineAsyncComponent } from 'vue';

 const props = defineProps({
   "titulo":{required:false, default:"Soberanía tecnológica y digital"},
   "imagen":{required:false, default:"normas/soberania_tec.png"},
   "numero":{required:false, default:46138},
   "doc":{required:false,
		  default:"https://www.eradelainformacion.cl/docs/soberania.pdf"},
   "width":{required:false, default:.3},
   "height":{required:false, default:120},
 })


let base = "https://plataforma.chileconvencion.cl/m/iniciativa_popular/detalle?id="
let norma_url  = computed(() => base + props.numero)
</script>

<style scoped>
.card-content {
  height: 300px;
}
.card-content a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content img {
  max-height: 100%;
}
</style>
